@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500&family=Yeseva+One&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    
}
main{
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
}
.container{
    max-width:1154px;
    display: flex;
    padding:0 120px;
}
.button{
    text-decoration: none;
    border-radius:41px;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    transform:rotateY(180);
    transition:1s ease-in;


}
.button:hover{
    border-radius: 0px;
}
ul{
    display: flex;
}
.nav-item{
    list-style: none;
}
ul >li > a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
  
    align-items: center;
}
.navbar{
    display:flex;
}
.popular-container{
    width:1056px;
    padding:100px 196px;
}
.popular-title{
    text-align:center;
}
.fa-star{
    color: #FB8200;

}
.collections{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:30px;
}
.collection{
    background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
border-radius: 5px;
}
.thumbnail{
    padding-left: 14px ;
    padding-top:17px;
    padding-right: 15px;
    height: 256px;
    width:300px;
}
.collection-description{
    padding-left:14px;
    padding-right: 149px;
    padding-bottom: 17px;
}
.stars ,.product-name ,.price{
    padding-left:14px;
    
}
.btn-container{
  height: 200px;
    display:float;
    float:right;
    margin-top: 30px;
}
.see-btn{
    color: #E02C6DDE;
    text-decoration:none;


}
/* catagory */
.catagory-section{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.catagories{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:30px;
    
    margin-bottom:50px;
   
}
.catagory-title{
    text-align:center;
   
}
.catagory{
    text-align: center;
   




   
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); 
}
.cata-button{
    text-decoration: none;
  
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 15px 24px;
    text-align: center;


}
.catagory-name{
    display: grid;
    grid-template-columns:  1fr 1fr;
}

.footer-item{
display:flex;
justify-content: center;
align-content: center;
width: 100%;
height:240px;
background-color: #0A0826;
color: #FFFFFF;
}
/* footer */
.footer-desc{
    height:139px;
    width:265px;
}
.social-icon{
    display:flex;
    justify-content:space-around;
align-content: space-around;
justify-content: space-between;
}
/* Mobile */
@media only screen and (max-width:688px) {
    
    .container{
        width: 100%;
        padding:0;
        display: flex;
        flex-direction: column;
    }
    main{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        }
    .influencer-camera{
        order:1;
        width:100%;
    }
    .influencer-title{
        text-align: center;
        font-size: 28px;
    }
    .influencer{
        order:2;
    }
    .influencer-detail{
        text-align: center;
    }
    /* popular container section */
    .popular-container{
        width:100%;
        padding:0px;
    }
    footer{
        width:100%;
    }
    .collections{
       
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }


    .navbar{
        display:grid;

        grid-template-rows: (1,1fr);
    display: none;
    }
    .head-title{
        text-align:center;
    }
    .catagories{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        grid-gap:30px;
        
        margin-bottom:50px;
       
    }
}
/* tablet device */
@media only screen and (min-width:688px) and (max-width:992px){
   .container{
       width: 100%;
       padding:0;
   }
   .catagories{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:30px;
    
    margin-bottom:50px;
   
}
.popular-container{
    width: 100%;
    padding:0;
}
.collections{
       
    grid-template-columns: repeat(2,1fr);
}

}